@font-face
    font-family: abeezee
    src: url('./fonts/abeezee/ABeeZee-Regular.ttf')

*
    margin: 0
    padding: 0
    
body
    min-height: 100vh
    background: linear-gradient(168.36deg, #5C7ABC 1.46%, #6875BC 23.49%, #6787C7 38.49%, #767FCE 56.3%, #5A77B6 91.46%)

h1, h2, h3, h4, h5, h6, p, input, option, select, textarea
    font-family: abeezee
    color: #fff